.toolbar-container {
  z-index: var(--header-layout);
  justify-content: center;
  height: var(--header-height);
  background-color: white;
  color: black;
  border-bottom: 1px solid var(--line-color);
  top: 0;
}

.toolbar {
  align-items: center;
  width: 100%;
  max-width: var(--app-width);
}

.toolbar-button {
  align-items: center;
  display: flex;
}

.toolbar img {
  margin: 0 var(--m-px);
}

.toolbar .toolbar-button {
  height: var(--l-px);
  margin: 0 var(--m-px);
  opacity: 0.8;
}

.spacer {
  flex: 1;
}
