.form-input {
  background: transparent;
  border: 0 none;
  resize: none;
}

.form-input:disabled{
  color: black;
  border: none;
}

.form-input:not(disabled){
  border: 1px dashed var(--line-color);
}

.form-button-size {
  padding: 4px 6px;
  border-radius: 5px;
}

.form-submit-button:disabled{
  background-color: transparent;
}

