<div class="fcol h-strch">
  <app-profile-header class="frow flx-grow-1">
    <ng-template #profileActions>
      <button>Believe</button>
    </ng-template>
  </app-profile-header>
  <div [formGroup]="projectForm" class="frow min-height-0  project-card flx-grow-4">
    <div class="flx picture-proportion picture-border"></div>
    <div class="fcol h-strch w-strch text-lines project-info">
      <div class="fcol min-height-0 h-strch w-strch text-lines">
        <input formControlName="projectName" class="project-input project-name topic">
        <textarea formControlName="projectDescription"
                  class="project-input flx h-strch scroll-overflow-y project-description"></textarea>
      </div>
      <div class="fcol min-height-0 h-strch text-lines flx-jc-flex-end">
        <div class="project-needs-topic topic">In Demand:</div>
        <div formArrayName="inDemand" class="fcol w-strch project-needs scroll-overflow-y ">
          <input class="project-input" *ngFor="let role of inDemand.controls; let i=index" [formControlName]="i"
                 [value]="role">
        </div>
      </div>
    </div>
  </div>
</div>
