<div class="fcol app-grid">
  <div class="frow flx-center-content flx-wrap">
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'24 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'11 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'10 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'80 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'39 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'24 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'11 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'10 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'80 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'39 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'10 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'80 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'39 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
    <app-grid-cell href="" [daysLeftNote]="'33 days left'"></app-grid-cell>
  </div>
</div>
