<div class="app-grid">
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
  <app-grid-cell href="" [sideNote]="'33 days left'"></app-grid-cell>
</div>
