.content {
  align-self: center;
  margin: 0px auto;
  max-width: calc(var(--app-width) - 75px);

  position: absolute;
  top: calc(var(--header-height) + var(--profile-header-highet));
  right: 0; /*todo change it. it makes center.*/
  left: 0;
}
