.content {
  align-self: center;
  margin: 0px auto;
  max-width: calc(var(--app-width) - 75px);

  position: absolute;
  display: flex;

  top: var(--header-height);
  bottom: 0;
  right: 0; /*todo change it. it makes center.*/
  left: 0;
}
