<div class="fcol h-strch">
  <app-profile-header class="frow flx-grow-1">
    <ng-template #profileActions>
      <button>Believe</button>
    </ng-template>
  </app-profile-header>
  <div class="frow min-height-0  project-card flx-grow-4">
    <div class="flx picture-proportion picture-border"></div>
    <div class="fcol h-strch w-strch text-lines project-info">
      <div class="fcol min-height-0 h-strch w-strch text-lines">
        <div class="project-name topic">New Album</div>
        <div class="flx  scroll-overflow-y project-description">
          Hey everyone...
          <br>I’m a singer in my beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together. <br>I’m a singer in my
          beginning. Looking for a cool producer to do some shit together.
          <br> I want to make a song+clip to make a breakthrough.
          <br> I’m looking for beginners semi-professionals to start an interesting way together.
        </div>
      </div>
      <div class="fcol min-height-0 h-strch text-lines flx-jc-flex-end">
        <div class="project-needs-topic topic">Needs:</div>
        <div class="fcol w-strch project-needs scroll-overflow-y ">
          <ul>
            <li>Producer</li>
            <li>Record studio owner</li>
            <li>Guitarist</li>
            <li>Record company</li>
            <li>Fashionista</li>
            <li>Makeup artist</li>
            <li>Decorator</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
