<div class="fcol h-strch w-strch">
  <app-profile-header class="frow w-strch">
    <ng-template #profileActions>
      <button>Believe</button>
    </ng-template>
  </app-profile-header>
  <div class="flx h-strch menu-app-under-profile-header project-card">
    <div class="frow h-strch w-strch">
      <div class="h-strch picture-size picture-border"></div>
      <div class="h-strch project-info fcol">
        <div class="w-strch h-strch fcol text-lines">
          <div class="project-name topic">New Album</div>
          <div class="project-description">Hey everyone...
            <br>I’m a singer in my beginning. Looking for a cool producer to do some shit together.
            <br> I want to make a song+clip to make a breakthrough.
            <br> I’m looking for beginners semi-professionals to start an interesting way together.
          </div>
        </div>
        <div class="h-strch">
          <div class="project-needs-topic topic">Needs:</div>
          <div class="project-needs">
            <ul>
              <li>Producer</li>
              <li>Record studio owner</li>
              <li>Guitarist</li>
              <li>Record company</li>
              <li>Fashionista</li>
              <li>Makeup artist</li>
              <li>Decorator</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
