:root {
  /*Fixed Sizes*/
  --app-width: 975px;
  --header-height: 60px;
  --margin-width: 32px;
  --profile-header-highet: 142px; /* todo it different, using the real height, more scalable*/

  /*Distances*/
  --xs-px: 10px;
  --s-px: 20px;
  --m-px: 30px;
  --l-px: 40px;
  --xl-px: 100px;

  /*Colors*/
  --ice-line-color: #eee;
  --line-color: rgba(var(--b6a, 219, 219, 219), 1);
  --empty-color: #fafafa;

  /*Z-Index*/
  --base: 1000; /*TODO WITH CONST!*/
  --above: 1;
  --below: -1;
  --header-layout: calc(var(--base) + var(--above));
  --profile-header-layout: calc(var(--header-layout) + var(--below));
  --zoom-layout: 7000;
}

/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: whitesmoke;
  font-family: Calibri;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.strch {
  width: 100%;
  height: 100%;
}

.flx {
  display: flex;
}

.frow {
  display: flex;
  flex-direction: row;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.fr-stretch {
  justify-content: stretch;
}

.fc-stretch {
  align-items: stretch;
}


.spc {
  justify-content: space-between;
}

button {
  background-color: whitesmoke;
  border: 1px solid var(--line-color);
  color: black;
  padding: 7px 20px;
  border-radius: 5px;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
}
