:root {
  /*Fixed Sizes*/
  --app-width: 975px;
  --header-height: 60px;
  --margin-width: 32px;
  --profile-header-highet: 142px; /* todo it different, using the real height, more scalable*/

  /*Distances*/
  --xxs-px: 4px;
  --xs-px: 10px;
  --s-px: 20px;
  --m-px: 30px;
  --l-px: 40px;
  --xl-px: 100px;

  /*Colors*/
  --ice-line-color: #eee;
  --line-color: rgba(var(--b6a, 219, 219, 219), 1);
  --card-bacground-color: rgba(250, 250, 250, 0.82);
  --empty-color: #fafafa;

  /*Z-Index*/
  --base: 1000; /*TODO WITH CONST!*/
  --above: 1;
  --below: -1;
  --header-layout: calc(var(--base) + var(--above));
  --profile-header-layout: calc(var(--header-layout) + var(--below));
  --zoom-layout: 7000;
}

/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: whitesmoke;
  font-family: Calibri;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.w-strch {
  width: 100%;
}

.h-strch{
  height: 100%;
}

.scroll-overflow-y {
  overflow-y: scroll;
}

.flx {
  display: flex;
}

.frow {
  display: flex;
  flex-direction: row;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.fr-stretch {
  justify-content: stretch;
}

.fc-stretch {
  align-items: stretch;
}

.spc {
  justify-content: space-between;
}

.center-content {
  justify-content: center;
}

.align-bottom {
  align-items: end;
}

.small-font {
  font-size: small;
}

.flx-wrap {
  flex-wrap: wrap;
}
