
.ph-container {
  justify-content: center;
  background-color: whitesmoke;
}

.ph-profile-header {
  align-self: flex-start;
  border-bottom: 1px solid var(--line-color);
  width: 100%;
  background-color: whitesmoke;
  padding: var(--s-px) 0px;
}

.ph-profile-picture {
  background-color: var(--empty-color);
  border: 1px solid var(--line-color);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-right: var(--s-px);
}

.ph-lines > :not(:last-child) {
  margin-bottom: var(--xs-px);
}

.ph-profile-name {
  font-size: large;
  letter-spacing: 1px;
  font-weight: lighter;
}

.ph-profile-actions ::ng-deep button {
  font-size: 12px;
  background-color: var(--line-color);
  border: 1px solid var(--line-color);
  color: black;
  padding: 6px 14px;
  margin-left: var(--xs-px);
  margin-right: var(--xs-px);
  border-radius: 3px;
}

.ph-numbers-display > div:not(:last-child) {
  padding-right: var(--xs-px);
}

span.ph-numbers-display-number {
  font-weight: bold;
}

.ph-numbers-display-label{
  font-size: small;
  padding-left: var(--xxs-px);
}
